@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Shadows+Into+Light&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Quicksand', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #06f;
    border-radius: 5px;
}

body {
    background-color: #f1f5ff;
}

.banner {
    background: url(assets/bg_banner.jpg) left top / cover no-repeat;
    width: 100%;
    height: 86vh;
    position: relative;
    z-index: 2;
}

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-bottom: 4px;
    padding-left: 12px;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: -1;
    background: linear-gradient(#1652f04d 0%, #f1f5ff 100%);
}

.ft-duck {
    font-family: 'Shadows Into Light', cursive;
}

.slider {
    height: 80px;
    overflow: hidden;
}

.slider div {
    height: 80px;
}

.slider-1 {
    color: #06f;
    animation: slide 7.5s linear infinite;
}
.slider-2{
    color: yellow;
}
.slider-4{
    color: purple;
}
.slider-3{
    color: orange;
}
.slider-5{
    color: red;
}
@keyframes slide {
    0% {
        margin-top: -400px;
    }
    5%{
        margin-top: -320px;
    }
    20%{
        margin-top: -320px;
    }
    25% {
        margin-top: -240px;
    }
    40%{
        margin-top: -240px;
    }
    45%{
        margin-top: -160px;
    }
    60% {
        margin-top: -160px;
    }
    65%{
        margin-top: -80px;
    }
    80%{
        margin-top: -80px;
    }
    85% {
        margin-top: 0px;
    }
    100%{
        margin-top: 0px;
    }

}


@media screen and (max-width: 950px) {
    .banner {
        height: 80vh;
    }
}

@media screen and (max-width: 600px) {
    .banner{
        height: 78vh;
    }
    /* .slider div {
        height: 80px;
    } */
    .slider {
        height: 50px;
        overflow: hidden;
    }
}