@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Quicksand', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #06f;
    border-radius: 5px;
}

body {
    background-color: #f1f5ff;
}

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-bottom: 2px;
    position: relative;
}
.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: -1;
    background: linear-gradient(#1652f04d 0%, #f1f5ff 100%);
}